<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-padding header">
      {{questionGroup?.topic}}
    </ion-title>

    <h5 slot="primary" color="light" class="score" class="ion-padding">
      Score: {{score}}/{{questions?.length}}
    </h5>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="questionGroup">
    <!-- Add Case Text Here -->
    <div class="case">
      <h2 class="dark-text">{{questionHeader}}</h2>
      <ion-text color="primary">
        <h3>{{questionGroup.case}}</h3>
      </ion-text>
    </div>

    <app-questions
      *ngIf="questions"
      [currentScore]="score"
      [currentQuestion]="currentQuestion"
      [count]="count"
      (sendScore)="getScore($event)"
      (sendAnswered)="retrieveAnswered($event)"
      (sendQuestionData)="retrieveQuestionData($event)"
      (sendQuestionResponse)="retrieveQuestionResponse($event)"
      (sendNavRequest)="retrieveNavRequest($event)"
    >
    </app-questions>
    <!-- <ion-button *ngIf="  answered === questions.length " color="primary" expand="block" shape="round"
        (click)="endTest()">End Test</ion-button> -->
  </div>
</ion-content>

<app-prev-next
  [completed]="completed"
  [data]="{hideBack: count === 0, disableNext:!currentQuestion?.responseId}"
  (sendNavType)="retrieveNavType($event)"
></app-prev-next>
