<div *ngIf="dimensions$ | async as dimensions">
  <div *ngIf="data && dimensions.width > 960">
    <ion-fab vertical="center" horizontal="start" slot="fixed">

      <ion-fab-button [disabled]="data.disableBack" *ngIf="!data.hideBack" (click)="sendNav(back)" color="primary">
        <ion-icon size="large" name="chevron-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="center" horizontal="end" slot="fixed">

      <ion-fab-button [disabled]="data.disableNext" *ngIf="!data.hideNext" (click)="sendNav(next)" color="primary">
        <ion-icon size="large" name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>


  <ion-footer *ngIf="data && dimensions.width < 960">
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="!data.hideBack" (click)="sendNav(back)">
        <ion-button [disabled]="data.disableBack">PREVIOUS</ion-button>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="!data.hideNext" (click)="sendNav(next)">
        <ion-button [disabled]="data.disableNext">
          <span *ngIf="!completed" color="light">NEXT QUESTION</span>
          <span *ngIf="completed" color="light">END TEST</span>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>