ion-note {
  display: block;
}

ion-progress-bar {
  margin-top: 10px;
}

.right {
  left: 75%;
}

#vp-container {
  margin: auto;
}

// .spacer {
//   margin-bottom: 2.5em;
// }

.zero {
  margin: 0;
}