ion-note {
  display: block;
}

ion-progress-bar {
  margin-top: 10px;
}

.right {
  float: right;
  margin-right: 15px;
}

#vp-container {
  margin: auto;
}

.spacer {
  margin-bottom: 2.5em;
}

// mat-grid-tile p,
// mat-grid-tile mat-hint {
//   text-align: left;
//   justify-content: left;
//   align-items: flex-start;
// }