<div *ngIf="currentQuestion as question">

  <mat-card>
    <h3>
      {{ question.text }}
    </h3>
    <ion-button *ngIf="isSubmitted && question.responseId" class="right" (click)="open=!open">SEE YOUR RESPONSE
    </ion-button>
    <div [hidden]="!open && question.responseId">
      <mat-card-content>


        <mat-radio-group [(ngModel)]="selectedOption">
          <mat-list *ngFor="let option of question.options">
            <mat-radio-button [disabled]="question.responseId && isSubmitted" slot="start" color="primary"
              [value]="option.id">
              <h3 class="max-width zero" [ngClass]="{
              'green-text':selectedOption=== option.id && option.id===question.correctAnswerId &&
              question.isCorrect, 'red-text':selectedOption === option.id && option.id !==
              question.correctAnswerId && question.isCorrect
            }" [innerHTML]="option.text"></h3>
            </mat-radio-button>
          </mat-list>

        </mat-radio-group>
      </mat-card-content>
      <button mat-raised-button [disabled]="!selectedOption" (click)="submit(question)" color="primary">
        Submit
      </button>
    </div>

  </mat-card>
</div>

<div class="solution" *ngIf="currentQuestion.responseId && currentQuestion as question">

  <ion-list *ngFor="let option of question.options">

    <ion-row>
      <ion-col size="1">
        <span *ngIf=" question.correctAnswerId === option.id">
          <mat-icon class="green-text">done</mat-icon>
        </span>
        <span *ngIf="question.correctAnswerId !== option.id">
          <mat-icon color="accent">clear</mat-icon>
        </span>
      </ion-col>

      <ion-col size="11">
        <p class="max-width" [ngClass]="{
                'green-text': question.correctAnswerId === option.id,
                'red-text': question.correctAnswerId !== option.id
              }" innerHTML="{{ option.text }}"></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset="1">

        <ion-label>{{ option.info }}</ion-label>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10">
        <ion-progress-bar color="primary" [value]="option.userSelectionPercentage/100 "></ion-progress-bar>
      </ion-col>
      <ion-col size="2">
        {{ option.userSelectionPercentage}}%
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <button id="learn-more" color="primary" mat-button (click)="navigateToContent(option.content)">
          Learn more...
        </button>
      </ion-col>
    </ion-row>
    <mat-divider></mat-divider>
  </ion-list>
</div>