ion-note {
  display: block;
}

ion-progress-bar {
  margin-top: 10px;
}

.right {
  left: 75%;
}

#vp-container {
  margin: auto;
}

.solution {
  max-width: 75%;
  margin: auto;
}

.zero {
  margin: 0;
}