  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="Back"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ topic }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div *ngIf="currentContents ">
      <div *ngFor="let content of currentContents">
        <ion-card>
          <app-image *ngIf="content.type==='image'" class="max-width" [currentImage]="content.url"></app-image>

          <app-video *ngIf="content.type === 'video'" class="max-width"
            [data]="{ src: content.url,  type: 'video/mp4', controls:true, autoplay:false }"></app-video>

          <app-youtube *ngIf="content.type === 'youtube'" class="max-width" [youtubeId]="content.url"></app-youtube>
          <ion-card-header *ngIf="content.text">
            <ion-card-title>

              <ion-label class="ion-text-wrap" color="primary">
                <h1>
                  {{content.text}}
                </h1>
              </ion-label>
            </ion-card-title>
          </ion-card-header>

        </ion-card>
      </div>
    </div>
  </ion-content>