<mat-toolbar color="primary">
  <span>Content Page</span>
</mat-toolbar>

<ion-content>
  <mat-card *ngIf="currentContents">
    <div *ngFor="let content of currentContents">
      <mat-card-title>
        {{content.text}}
      </mat-card-title>
      <mat-card-content>
        <app-image *ngIf="content.type==='image'" [currentImage]="content.url"></app-image>

        <section class="video">
          <app-video *ngIf="content.type === 'video'" [url]="content.url"></app-video>
        </section>

        <section>
          <app-youtube *ngIf="content.type === 'youtube'" [youtubeId]="content.url"></app-youtube>
        </section>
      </mat-card-content>
    </div>

  </mat-card>


</ion-content>