  <ion-header [translucent]="true">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Quiz</span>
        <span class="spacer"></span>
        <span class="count">Question: #{{count +1 }}</span>
        <span>Score: {{score}}/{{questions?.length}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </ion-header>




  <ion-content [fullscreen]="true">

    <!-- Add Case Text Here -->
    <div class="case">
      <h3>{{questionGroup.case}}</h3>
    </div>
    <app-questions *ngIf="questions" [currentScore]="score" [currentQuestion]="currentQuestion"
      (sendScore)="getScore($event)" (sendQuestionResponse)="retrieveQuestionResponse($event)"
      (sendNavRequest)="retrieveNavRequest($event)">
    </app-questions>
  </ion-content>

  <app-prev-next [data]="{hideBack: count === 0, hideNext: count === questions.length}"
    (sendNavType)="retrieveNavType($event)"></app-prev-next>