<ion-content>
  <mat-grid-list cols="12" [rowHeight]="topRowHeight">
    <mat-grid-tile rowspan="1" colspan="4">
      <app-info class="max-width max-height"></app-info>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="8">
      <app-score class="max-width max-height"></app-score>
    </mat-grid-tile>

  </mat-grid-list>
  <mat-grid-list cols="12" [rowHeight]="bottomRowHeight">
    <mat-grid-tile rowspan="1" colspan="12">
      <app-conclusion class="max-width max-height"></app-conclusion>
    </mat-grid-tile>
  </mat-grid-list>

</ion-content>