<ion-content>
  <div class="container">

    <div class="max-height max-width image-container">

      <app-image *ngIf="platformSize>=600" class="max-height max-width" [currentImage]='image'></app-image>
    </div>
    <div class="overlay"></div>
    <div class='some-text'>
      <ion-text *ngIf="platformSize>=600">

        <img src="assets/svg/IMClogo.svg">

        <p>CREATING THE IDEAL DIGITAL </p>
        <p>MUSCULOSKELETAL CARE SOLUTION
        </p>
      </ion-text>
      <!--  <ion-button (click)="openSheet()" expand="block" shape="round">Select Case
      </ion-button> -->
      <ion-button (click)=" goToQuestion()" color="light" fill="outline" expand="block" shape="round">
        <h3>GET STARTED</h3>
      </ion-button>
    </div>
  </div>
</ion-content>