#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}




.count {
  margin-right: 3em;
}


ion-content {
  max-height: 100% !important;
  overflow-y: hidden !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow-y: hidden !important;
  height: 100vh !important;
}

.overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: #225470;
  opacity: .75;
}

.some-text {
  z-index: 3;
  width: 60%;
  position: absolute;
  top: 30%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .some-text h1 {
    font-size: 2.2rem;
    display: block;
    margin-bottom: 2rem;
  }

  .some-text {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1.3rem;
  }


}

@media (max-width: 600px) {
  .some-text {
    top: 60%;
  }

  ion-text img {
    display: none;
  }

  .container {
    background: url(/assets/svg/IMClogo.svg) no-repeat center center fixed;
    background-size: 50% 50%;
    margin: auto;
    height: 100%;
  }


}



.image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

app-image {
  z-index: -2;
}

ion-button {
  margin-top: 3rem;
}

h3 {
  margin: 0;
}

app-search {
  z-index: -1;
}

img {
  width: 25vmin;
}