<div class="container">
  <ion-text>
    <h2>Thanks for taking part in this case challenge!</h2>
  </ion-text>
  <!-- <app-score></app-score> -->
  <ion-text class="margin">
    <h4> Be on the lookout for more content soon from IMC.</h4>
    <!-- <h4> If you have any comments or would like to suggest a topic be
      covered<br> please email Kevin Jones, PT, Dip MDT – <a
        href="mailto: kevin.jones@imcpt.com">kevin.jones@imcpt.com.</a>
    </h4> -->



    <h5 class="margin">If you’d like information on IMC, please visit:
      <a href="http://www.imcpt.com" target="_blank" rel="noopener noreferrer">www.imcpt.com.</a>
    </h5>
  </ion-text>
</div>