<div class="container">
  <h2>We are nationwide. For a JOINTSTRONG
    location near you, call us today! </h2>

  <ion-row cols="3">
    <ion-col colspan="1">
      <h1>Find Us</h1>
      <ion-icon color="success" name="location-outline"></ion-icon>
      <h3>Corporate Office: 2615 Centennial Blvd.</h3>
      <h3>Ste 101, Tallahassee, FL 32308</h3>
    </ion-col>
    <ion-col colspan="1">
      <h1>Call Us</h1>
      <ion-icon color="success" name="phone-portrait"></ion-icon>
      <h2>(855) 293-0340</h2>

    </ion-col>
    <ion-col colspan="1">
      <h1>
        Email Us
      </h1>
      <ion-icon name="mail-outline"></ion-icon>
      <h3>info@jointstrong.com</h3>
    </ion-col>

  </ion-row>
</div>