<ion-header [translucent]="true">


  <mat-toolbar color="primary">
    <mat-toolbar-row>
      Home
    </mat-toolbar-row>
  </mat-toolbar>


</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <div class="image-container">

      <app-image [currentImage]='image'></app-image>
    </div>
    <div class="overlay"></div>
    <div class='some-text'>
      <h1>JointStrong<span>&reg;</span></h1>
      <p>CREATING THE IDEAL DIGITAL </p>
      <p>MUSCULOSKELETAL CARE SOLUTION
      </p>
      <button mat-raised-button (click)="goToQuestion()" color="primary">Begin Test</button>
    </div>
  </div>
</ion-content>