<ion-header [translucent]="true">


  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>


  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <div class="image-container">

      <app-image [currentImage]='image'></app-image>
    </div>
    <div class="overlay"></div>
    <div class='some-text'>
      <ion-text>
        <h1>JointStrong&reg;</h1>
        <p>CREATING THE IDEAL DIGITAL </p>
        <p>MUSCULOSKELETAL CARE SOLUTION
        </p>
      </ion-text>
      <ion-button (click)="openSheet()" expand="block" shape="round" color="secondary">Select Case
      </ion-button>
      <!-- <app-bottom-sheet-content (sendSelection)="retrieveSelectedCase($event)"
        [data]="{ list: caseList, textKey: 'topic', valueKey: 'id', descriptionKey:'case' }"></app-bottom-sheet-content> -->
    </div>
  </div>
</ion-content>