.questions {

  background-color: #dbdbdf;
  display: flex;
  // flex-direction: column;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

ion-card {
  cursor: pointer;
  width: 350px;
  height: 280px;
  margin: 1em auto;
}

.card-list {
  margin: auto;
}