// .text {
//   width: 100%;
//   margin-top: 0;

// }

// #chat {
//   margin-bottom: 0;
// }

.score {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /*   margin-top: 2em; */
  text-align: center;
}